.titulo {
  color: red;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

.parrafo {
  text-align: center;
  font-size: 1.5rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  max-width: 10rem;
  margin: 0 auto;
}

.formulario label {
  margin-top: 1rem;
}

.formulario input {
  margin-top: 1rem;
  border-radius: 5px;
}

.contador-gral{
  display: flex;
  max-width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}